* {
	margin: 0;
	padding: 0;
}
body {
	line-height: 1;
	color: black;
	background: #f2f2f2;
}
@font-face {
	font-family: silkscreen;
	src: url('slkscr.ttf');
}
#maincontainer {
	border: 2px solid black;
	position: relative;
	width: 512px;
	margin-left: -256px;
	left: 50%;
    background: black;

    font-family: silkscreen;
    font-size: 18px;
    color: white;
    font-weight: bold;
    line-height: 20px;

	-moz-border-radius: 7px 7px 0 0; /* Firefox */
    -webkit-border-radius: 7px 7px 0 0; /* Safari, Chrome */
    border-radius: 7px 7px 0 0; /* CSS3 */
}
#menu {
	height: 50px;
}
#menucontainer {
	position: absolute;
	z-index: 1;
	top: 100px;
	width: 200px;
	margin-left: -100px;
	left: 50%;
}
.btn {
	cursor:pointer;
    font-family: silkscreen;
    font-size: 30px;
    color: black;
    font-weight: bold;
    line-height: 40px;
    position: relative;
    height:40px;
    -moz-border-radius: 7px; /* Firefox */
    -webkit-border-radius: 7px; /* Safari, Chrome */
    border-radius: 7px; /* CSS3 */
    border:3px solid black;
    background: #6ECF4D;
    text-align: center;
    z-index:2;

    -webkit-transition: background-color 80ms linear;
    -moz-transition: background-color 80ms linear;
    -o-transition: background-color 80ms linear;
    -ms-transition: background-color 80ms linear;
    transition: background-color 80ms linear;
}
.btn:hover {
	background-color:#ff5555;
}
.menu-btn {
	margin-top: 10px;
}
#menu-container:first-child {
	margin-top: 0px;
}
#scorecontainer {
	width: 160px;
}
#play {
	width: 100px;
	height: 50px;
	margin-left: -50px;
	left: 50%;
	position: absolute;
}
#timecontainer {
	width: 260px;
	margin-left: -260px;
	left:100%;
	position: absolute;
}
table {
	border-collapse: separate;
	border-spacing: 1px;
}
table#grid {
	margin: 0;
	padding: 0;
}
td {
	text-align: left;
	font-weight: normal;
	width: 15px;
	height: 15px;
	margin: 0;
	padding: 0;
}
td.ground {
	background: #a0a0a0;
}
td.snake {
	background: #6ECF4D;
}
td.food {
	background: #ff5555;
    
    -webkit-animation: pulse 1s ease-out;
}
@-webkit-keyframes pulse {
    0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
    50% {opacity: 1.0;}
    100% {-webkit-transform: scale(1.0, 1.0); opacity: 0.0;}
}

td.playunselected {
	background: #6ECF4D;
}
td.playselected {
	background: #ff5555;
}
