* {
	margin: 0;
	padding: 0;
}
body {
	line-height: 1;
	color: black;
	background: #f2f2f2;
}
#maincontainer {
	border: 2px solid black;
	position: relative;
	width: 512px;
	margin-left: -256px;
	left: 50%;
}
#menu {
	height: 50px;
}
#scorecontainer {
	width: 160px;
}
#play {
	width: 100px;
	height: 50px;
	margin-left: -50px;
	left: 50%;
	position: absolute;
}
#timecontainer {
	width: 160px;
	margin-left: -160px;
	left:100%;
	position: absolute;
}
table {
	border-collapse: separate;
	border-spacing: 1px;
}
table#grid {
	margin: 0;
	padding: 0;
}
td {
	text-align: left;
	font-weight: normal;
	width: 15px;
	height: 15px;
	margin: 0;
	padding: 0;
}
td.ground {
	background: #a0a0a0;
}
td.snake {
	background: #6ECF4D;
}
td.food {
	background: #ff5555;
}
td.playunselected {
	background: #6ECF4D;
}
td.playselected {
	background: #ff5555;
}